@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-background: 0deg, 0%, 100%;
    --color-content: 0deg, 0%, 0%;
    --color-selected-btn: 0deg, 0%, 91%;
    --color-btn-border: 0deg, 0%, 85%;
    --color-btn-bg: 214deg, 21%, 95%;
    --color-tertiary: 0deg, 0%, 0%;
    --color-sub-heading: 0deg, 0%, 50%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark Variables */
      --color-background: 0deg, 0%, 11%;
      --color-content: 0deg 0% 98%;
      --color-selected-btn: 0deg 0% 96%;
      --color-btn-border: 0deg 0% 20%;
      --color-btn-bg: 0deg, 0%, 16%;
      --color-tertiary: 0deg, 0%, 71%;
      --color-sub-heading: 0deg, 0%, 91%;
    }
  }
}

@font-face {
  font-family: 'Fira Code', monospace;
  src: url('/assets/fonts/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code', monospace;
  src: url('/assets/fonts/FiraCode-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #9090900f;
  margin-top: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#extensionsList {
  scrollbar-gutter: auto;
}

.active-tab {
  border-bottom: 1px solid #fafafa;
  color: #fafafa;
}

/* .tooltip {
  @apply invisible absolute opacity-0 transform translate-y-2 bottom-8 -right-8 transition-transform duration-200;
}

.has-tooltip:hover .tooltip {
  @apply visible opacity-100 translate-y-0 z-50;
} */

.tooltip-container {
  position: relative;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
